$color: #000;

body {
  background: $color;
  color: wheat;

}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__code {
    width: 300px;
    padding: 2px 10px;
    text-align: left;
    overflow-x: auto;
    background: #fae7d0;
    color: #db7f81;
    margin-bottom: 40px;
    border: 2px solid;
    border-radius: 7px;
  }
}
